// Начните писать стили здесь
.additions__title {
  .h2-title("Oswald"; 24px; 24px);
  padding-top: 28px;
  padding-bottom: 35px;
}

.additions__table {
  padding-top: 11px;
  padding-bottom: 19px;
}

.additions__item-title {
  .h2-title("Oswald"; 16px; 20px);
  text-transform: uppercase;
  color: var(--basic-catalog-title);
}

.additions__table-item {
  .main-text("Arial"; 14px; 14px);
  color: var(--basic-dark-grey);
  text-align: left;
}

.button--catalog {
  .main-text("Oswald"; 16px; 16px);
  color: var(--basic-font-white);
  text-transform: uppercase;
}
