// Начните писать стили здесь
.page-footer{
  border: 1px solid purple;
}
.contact__title{
  .h2-title('Oswald';16px;18px);
  text-transform: uppercase;
  color: var(--basic-light-black);
}
.contact__text{
  .main-text('Arial';14px;20px);
  color: var(--basic-dark-grey);
}
