// Начните писать стили здесь
.contact__title {
  .main-text(16px; 18px);
  text-transform: uppercase;
  color: var(--basic-light-black);
}

.contact__text {
  font-family: "Arial", sans-serif;
  .main-text(14px; 20px);
  color: var(--basic-dark-grey);
}
