// Начните писать стили здесь
.example{
  background-color: var(--basic-grey-whisper);
  border: 1px solid orangered;
  margin-top:42px;
}
.example__title{
  .h2-title('Oswald';36px;40px);
  margin-top: 27px;
  margin-top: 33px;
}
.example__description{
  .main-text('Arial';14px;18px);
  color: var(--basic-dark-grey);
}
.example__item-value{
  .main-text('Oswald';24px;24px);
  text-transform: uppercase;
}
.example__item-comment{
  .main-text('Arial';12px;12px);
  color: var(--basic-dark-grey);
}
.example__total-price{
  .main-text('Oswald';14px;20px);
  text-transform: uppercase;
}
.example__toggle-text{
  .main-text('Oswald';16px;20px);
  text-transform: uppercase;
}
