// Начните писать стили здесь
.example {
  background-color: var(--basic-grey-whisper);
  border: 1px solid orangered;
  margin-top: 42px;
}

.example__title {
  .main-text(36px; 40px);
  margin-top: 27px;
  margin-bottom: 33px;
}

.example__description {
  font-family: "Arial", sans-serif;
  .main-text(14px; 18px);
  color: var(--basic-dark-grey);
}

.example__item-value {
  .main-text(24px;24px);
  text-transform: uppercase;
}

.example__item-comment {
  font-family: "Arial", sans-serif;
  .main-text(12px; 12px);
  color: var(--basic-dark-grey);
}

.example__total-price {
  .main-text(14px; 20px);
  text-transform: uppercase;
}

.example__toggle-text {
  .main-text(16px; 20px);
  text-transform: uppercase;
}
