// Начните писать стили здесь
.form {
  margin-top: 37px;
}
.form-legend{
  .main-text('Oswald'; 24px; 26px);
  padding-top: 26px;
  padding-bottom: 32px;
}
.form-legend--wrapper{
  .main-text('Oswald'; 14px; 18px);
  text-transform: uppercase;
}
.form-item__label{
  .main-text('Oswald'; 16px; 18px);
  text-transform: uppercase;
  color: var(--basic-dark-grey);
}
.form-item__input-text{
  .main-text('Oswald'; 16px; 18px);
  text-transform: uppercase;
  color: var(--basic-dark-grey);
}
.form-item__input-text--wrapper{
  color: var(--basic-black);
}
.form-item__label-radio{
  .main-text('Oswald'; 16px; 18px);
  text-transform: uppercase;
  color: var(--basic-catalog-title);
}
.button-wrapper{
  .main-text('Oswald'; 16px; 20px);
  color: var(--basic-font-white);
  width: 280px;
  height: 40px;
  border: none;
}
.form-comment{
  .main-text('Arial'; 14px; 16px);
}
