// Начните писать стили здесь
.form {
  display: flex;
  flex-direction: column;
  margin-top: 37px;

  @media (min-width: @tablet-width) {
    margin-top: 54px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &--wrapper {
    margin: 0;
    padding: 0;
    outline: 2px dotted darkcyan;

    @media (min-width: @tablet-width) {
      outline: 2px dotted blue;
      width: @tablet-width--wrapper;
      margin: 0 auto;
    }

    @media (min-width: @desktop-width) {
      outline: 2px dotted greenyellow;
      width: @desktop-width--wrapper;
      display: flex;
      flex-direction: row;
    }
  }
}

.form__fieldset {
  border: none;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--basic-border-gainsboro);

  @media (min-width: @tablet-width) {
    padding-bottom: 52px;
    border: none;
    /*margin: 0 70px;*/
  }

  @media (min-width: @desktop-width) {
    /*margin: 0 0 0 110px;*/
    padding: 0;

    .form__item {
      position: relative;
      max-width: 569px;
      margin-right: 0;
    }
  }
}

.form__item {
  position: relative;

  .form__item-input-text--wrapper-second {
    margin-top: 10px;
  }
}

.form__fieldset--wrapper-first {
  padding: 0;
  margin-top: 25px;
  padding-bottom: 0;
  /*margin-bottom: 2px;*/

  @media (min-width: @tablet-width) {
    border: 1px solid var(--basic-border-comment);
    margin-top: 0;
    margin-bottom: 32px;
    padding-top: 26px;
    padding-bottom: 9px;
    width: 628px;
  }

  @media (min-width: @desktop-width) {
    width: 568px;
    height: 195px;
    margin: 128px 0 52px 80px;
    box-sizing: border-box;
  }

  .form__item {
    @media (min-width: @tablet-width) {
      margin-bottom: 21px;
    }
  }
}

.form__fieldset--wrapper-second {
  padding: 0;
  /*margin-top: 13px;
  padding-bottom: 0;
  /*margin-bottom: 14px;*/
  border: none;

  @media (min-width: @tablet-width) {
    /*margin: 0 70px 40px 70px;*/
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    /*width: 100%;
    flex-grow: 1;*/
    margin: 0 auto;
  }

  .form__legend {
    margin-top: 11px;
    margin-bottom: 32px;

    @media (min-width: @tablet-width) {
      margin: 0 40px 76px 40px;
    }

    @media (min-width: @desktop-width) {
      margin: 0 0 76px 0;
    }
  }

  .form__legend--second-wrapper {
    margin-top: 6px;

    @media (min-width: @tablet-width) {
      margin: 39px 40px 76px 40px;
      padding-top: 10px;
    }

    @media (min-width: @desktop-width) {
      margin: 39px 40px 75px 0;
      padding-top: 27px;
    }
  }
}

.form__fieldset--wrapper-third {
  /*margin: 0;*/
  padding: 0;
  border: none;
  margin-top: 16px;
  margin-bottom: 17px;

  .form__legend {
    margin-bottom: 37px;
  }

  @media (min-width: @tablet-width) {
    /*margin: 0 70px 57px 70px;*/
    margin-bottom: 16px;

    .form__legend {
      margin-bottom: 62px;
    }
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /*flex-grow: 1;
    max-width: 100%;*/
    margin: 0 auto 61px auto;
  }
}

.form__fieldset-legend {
  .main-text(24px; 26px);
  /*margin: 26px 20px 32px 20px;*/
  border: none;

  @media (min-width: @tablet-width) {
    .main-text(36px; 36px);
    margin: 0 auto 76px 40px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
  }
}

.form__fieldset-legend--wrapper {
  .main-text(14px; 18px);
  text-transform: uppercase;
  margin-bottom: 36px;

  @media (min-width: @tablet-width) {
    /*!добавить  вертикальные оступы!*/
    .main-text(20px; 30px);
    margin-bottom: 66px;
    width: 323px;
  }

  @media (min-width: @desktop-width) {
    /*!добавить  вертикальные оступы!*/
    .main-text(20px; 30px);
    margin: 56px auto 66px 0;
    width: 323px;
  }
}

.form__fieldset-item {
  /*padding: 0 20px;*/
  display: flex;
  flex-direction: row;
  margin-bottom: 13px;
  position: relative;

  @media (min-width: @tablet-width) {
    padding: 0;
    margin-bottom: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 569px;
  }
}

.form__item--wrapper {
  .form__item {
    display: block;
    margin-top: 15px;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 40px;
    position: relative;

    .form__item {
      position: relative;
      width: 225px;
      margin-right: 119px;
      margin-bottom: 42px;
    }

    .form__item:nth-child(2n) {
      margin-right: 0;
    }
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0;

    .form__item {
      position: relative;
      flex-wrap: nowrap;
      width: 245px;
      margin: 0;
      justify-content: space-between;
    }
  }
}

.form__fieldset-item-label {
  .main-text(16px; 18px);
  text-transform: uppercase;
  color: var(--basic-dark-grey);
  margin: auto 14px auto 0;
  flex-wrap: nowrap;

  @media (min-width: @tablet-width) {
    .main-text(20px; 30px);
    margin: auto 16px auto 41px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
  }
}

.form__item-label--first {
  @media (min-width: @tablet-width) {
    margin: auto 20px auto 41px;
  }

  @media (min-width: @desktop-width) {
    margin: auto 20px auto 0;
  }
}

.form__item-label--second {
  @media (min-width: @tablet-width) {
    margin: auto 10px auto 41px;
  }

  @media (min-width: @desktop-width) {
    margin: auto 10px auto 0;
  }
}

.form__item-input-text {
  /*height: 46px;*/
  flex-grow: 1;
  font-family: "Oswald", sans-serif;
  .main-text(16px; 18px);
  text-transform: uppercase;
  color: var(--basic-dark-grey);
  padding: 13px 18px;
  border: 1px solid var(--basic-border-comment);
  /*padding: 0 14px;*/
  border-radius: 0;

  @media (min-width: @tablet-width) {
    .main-text(20px; 30px);
    /*height: 52px;*/
    padding: 10px 18px;
    margin-right: 37px;
  }

  @media (min-width: @desktop-width) {
    .main-text(20px; 30px);
    /*height: 52px;*/
    padding: 10px 20px;
    margin-right: 0;
    /*margin-right: 78px;*/
  }
}

.form__item-input-text:hover {
  border: 1px solid var(--basic-border-light-grey);
}

.form__item-input-text:focus {
  border: 2px solid var(--basic-dark-grey);
}

.form__item-input-text:invalid {
  border: 2px solid var(--basic-border-error);
}

.form__item-input-text--wrapper {
  display: block;
  color: var(--basic-black);
  padding: 13px;
  width: 254px;
  /*margin: 0 20px;*/
  margin-bottom: 13px;
  min-height: 122px;
  box-sizing: content-box;

  @media (min-width: @tablet-width) {
    margin: 0 40px;
    padding: 10px 19px;
    min-height: 153px;
    min-width: 588px;
    margin-bottom: 49px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    min-height: 154px;
    width: 1180px;
    margin-bottom: 67px;
  }
}

.form__item-input-text--wrapper-second {
  padding: 6px 0;
  margin: 0 20px;
  height: 30px;
  margin-left: 46px;
  border: none;

  @media (min-width: @tablet-width) {
    width: 220px;
    margin-left: 59px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 59px;
  }
}

.form__item-input-text--wrapper-second:nth-child(2n) {
  @media (min-width: @tablet-width) {
    margin-right: 0;
  }
}

.form__item-input-text--wrapper-second:hover,
.form__item-input-text--wrapper-second:focus {
  border: none;
}

.form__item-input-text--wrapper-second:active {
  opacity: 0.3;
  border: none;
}

.form__item-input-checkbox {
  display: none;
}

.form__item-input-checkbox + label::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 28px;
  top: -5px;
  left: 0;
  border: 1px solid var(--basic-border-light-grey);
  border-radius: 0;

  @media (min-width: @tablet-width) {
    content: "";
    position: absolute;
    width: 38px;
    height: 38px;
    top: -5px;
    left: 0;
    border: 1px solid var(--basic-border-light-grey);
    border-radius: 0;
  }
}

.form__item-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  width: 21px;
  height: 16px;
  top: 2px;
  left: 4px;
  fill: var(--basic-green-button);

  @media (min-width: @tablet-width) {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    width: 19px;
    height: 26px;
    top: 8px;
    left: 11px;
  }
}

.form__item-input-radio {
  display: none;
  margin-bottom: 13px;

  @media (min-width: @tablet-width) {
    margin-left: 28px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    margin-left: 28px;
    margin-bottom: 0;
  }
}

.form__item-input-radio + label::before {
  content: "";
  border: 1px solid var(--basic-border-light-grey);
  border-radius: 50%;
  width: 28px;
  height: 28px;
  position: absolute;
  top: -5px;
  left: 0;

  @media (min-width: @tablet-width) {
    content: "";
    border: 1px solid var(--basic-border-light-grey);
    border-radius: 50%;
    width: 38px;
    height: 38px;
    position: absolute;
    top: -2px;
    left: 29px;
  }
}

.form__item-input-radio:hover + label::before {
  border: 1px solid var(--basic-box-hover);
}

.form__item-input-radio:checked + label::after {
  content: "";
  background-color: var(--basic-green-button);
  border-radius: 50%;
  width: 13.5px;
  height: 13.5px;
  position: absolute;
  top: 4px;
  left: 8px;

  @media (min-width: @tablet-width) {
    content: "";
    background-color: var(--basic-green-button);
    border-radius: 50%;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 9px;
    left: 40px;
  }
}

.form__item-label-radio {
  .main-text(16px; 18px);
  text-transform: uppercase;
  color: var(--basic-catalog-title);
  margin-bottom: 12px;
  margin-left: 45px;
  display: block;

  @media (min-width: @tablet-width) {
    .main-text(20px; 30px);
    margin-top: 2px;
    margin-bottom: 0;
    margin-left: 88px;
    width: 86%;
  }

  &:active {
    opacity: 0.3;
  }
}

.form__comment {
  font-family: "Arial", sans-serif;
  .main-text(14px; 16px);
  margin: 22px 20px 31px 20px;
  text-align: center;

  @media (min-width: @tablet-width) {
    /*margin: 0;*/
    .main-text(16px; 16px);
    margin: 0;
    padding-top: 16px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    margin-top: 22px;
    margin-left: 82px;
  }
}

.form__button {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    margin-bottom: 72px;
    flex-direction: row;
    justify-content: flex-start;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 83px;
  }
}

.form__fieldset--wrapper-flex {
  margin-bottom: 13px;
  margin-top: 18px;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    margin-bottom: 35px;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 19px;
  }

  .form__legend {
    margin-bottom: 32px;

    @media (min-width: @tablet-width) {
      margin: 25px 40px 76px 40px;
    }

    @media (min-width: @desktop-width) {
      margin: 0 0 76px 0;
      padding: 0;
      width: 100%;
    }
  }
}

.form__item-label--third {
  margin: auto 11px auto 0;

  @media (min-width: @tablet-width) {
    margin: auto 20px auto 39px;
  }

  @media (min-width: @desktop-width) {
    margin: auto 20px auto 0;
  }
}

.form__item-label--fourth {
  @media (min-width: @tablet-width) {
    margin: auto 13px auto 39px;
  }

  @media (min-width: @desktop-width) {
    margin: auto 13px auto 0;
  }
}
