// Начните писать стили здесь
.link {
  display: flex;
  background-color: var(--basic-grey);
  border: 1px solid orangered;
  /*padding-top: 39px;*/
  /*padding-bottom: 22px;*/

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: none;
  }

  .container--wrapper {
    display: flex;
    flex-direction: column;

    @media (min-width: @tablet-width) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.link__logo {
  text-align: center;
  padding-top: 39px;
  padding-bottom: 29px;
  border-bottom: 1px solid var(--basic-border-gainsboro);

  @media (min-width: @tablet-width) {
    border: none;
    padding-top: 61px;
    padding-bottom: 62px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.link__social {
  display: flex;
  justify-content: space-between;
  padding-top: 27px;
  padding-bottom: 17px;
  border-bottom: 1px solid var(--basic-border-gainsboro);

  @media (min-width: @tablet-width) {
    border: none;
  }

  @media (min-width: @desktop-width) {
    border: none;
  }
}

.link__academy {
  display: flex;
  justify-content: space-between;
  padding-top: 29px;
  padding-bottom: 22px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.link__academy-link {
  font-family: "Arial", sans-serif;
  .main-text(16px; 18px);
  color: var(--basic-dark-grey);
  /*padding-right: 30px;*/
}
