// Начните писать стили здесь
.logo {
  /*width: 100%;*/
  height: 38px;
  margin: 0;
  padding: 0;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 24px;
  text-align: center;
  padding-right: 87px;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0;
    height: 52px;
    width: 174px;
  }

  @media (min-width: @desktop-width) {
    height: 59px;
  }
}

.logo__small:hover {
  opacity: 0.8;
}

.logo__small:active {
  opacity: 0.6;
}
