// Начните писать стили здесь
.page-header {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 11px;
  padding-bottom: 17px;
  border-bottom: 1px solid var(--basic-border-gainsboro);

  @media (min-width: @tablet-width) {
    padding-top: 24px;
    /*убрать знаки, заккоментировано для проверки*/
    /*border: none;*/
  }

  @media (min-width: @desktop-width) {
    padding-top: 53px;
    /*убрать знаки, заккоментировано для проверки*/
    border: none;
  }
}
