// Начните писать стили здесь
.page-nav {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /*min-height: 66px;*/
  border-bottom: 1px solid var(--basic-whisper);

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    width: 62%;
    border-bottom: none;
  }

  @media (min-width: @desktop-width) {
    width: 39.3%;
    z-index: 5;
  }
}

.page-nav__toggle {
  display: flex;
  width: 30%;
  height: auto;
  border: none;
  margin-left: 0;
  /*margin-right: 20px;
  /*cursor: pointer;*/

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.page-nav--close .page-nav__list {
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
  }

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.page-nav--close .page-nav__toggle::before {
  /*гамбургер для закрытого меню*/
  content: "";
  position: absolute;
  background-image: url("../../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  width: 24px;
  height: 16px;
  top: 35%;
  right: 6.25%;
}

.page-nav--active .page-nav__toggle {
  content: "";
  position: absolute;
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-color: transparent;
  width: 18px;
  height: 18px;
  top: 9%;
  right: 7.25%;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.page-nav--js .page-nav__toggle {
  display: none;
}

.page-nav__list {
  width: 100%;
  /*display: none;*/
  /*width: 440px;
  margin-left: 95px;
  /*как обойтись без ширины?*/
  /*margin-top: 18px;*/

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    color: var(--basic-black);
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /*margin-left: 540px;*/
  }
}

.page-nav__list--active {
  /*стиль для JS*/
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }
}

.page-nav__list-item {
  .main-text(20px; 20px);
  color: var(--basic-black);
  font-weight: 500;
  text-transform: uppercase;
  list-style: none;
  z-index: 10;
  padding-top: 21px;
  padding-bottom: 24px;
  text-align: center;
  border-top: 1px solid var(--basic-whisper);

  @media (min-width: @tablet-width) {
    font-weight: 400;
    .main-text (18px, 24px);
    padding: 0;
    border-top: none;
  }

  @media (min-width: @desktop-width) {
    font-weight: 400;
    .main-text (20px, 30px);
    /*черный цвет оставлен временно для отладки стилей*/
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-nav__list-item--wrapper {
  @media (min-width: @tablet-width) {
    color: var(--basic-black);
    padding-bottom: 10px;
    border-bottom: 2px solid var(--basic-green-button);
  }

  .page-nav__list-link {
    border-bottom: 2px solid var(--basic-green-button);
  }
}

.page-nav__list-link {
  color: var(--basic-black);
  padding-bottom: 8px;
}

.page-nav__list--index {
  .page-nav__list-link {
    @media (min-width: @desktop-width) {
      color: var(--basic-font-white);
    }
  }

  .page-nav__list-link:hover {
    @media (min-width: @desktop-width) {
      opacity: 0.6;
    }
  }

  .page-nav__list-link:active {
    @media (min-width: @desktop-width) {
      opacity: 0.3;
    }
  }

  .page-nav__list-item--wrapper {
    @media (min-width: @desktop-width) {
      padding-bottom: 10px;
      border-bottom: 2px solid var(--basic-font-white);
    }
  }
}
