// Начните писать стили здесь
.product {
  border: 1px solid orangered;
}

.product__item {
  background-color: var(--basic-grey);
  margin-bottom: 20px;
}

.product__item-title {
  .main-text("Oswald"; 24px; 37px);
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

.product__item-text {
  .main-text("Arial"; 14px; 18px);
  color: var(--basic-dark-grey);
}

.product__link {
  .main-text("Oswald";16px; 16px);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--basic-black);
}
