// Начните писать стили здесь
.product {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  padding-bottom: 7px;

  @media (min-width: @tablet-width) {
    margin: 0 30px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 110px;
    margin-bottom: 51px;
  }

  .container-wrapper {
    display: flex;
    flex-direction: column;

    @media (min-width: @desktop-width) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

.product__item {
  background-color: var(--basic-grey);
  margin: 0;
  margin-bottom: 20px;
  position: relative;


  @media (min-width: @tablet-width) {
    width: 708px;
    margin-bottom: 31px;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
    min-height: 375px;
    margin-bottom: 2px;
  }
}

.product__item::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: var(--basic-green-button);
  border-radius: 50%;
  top: 24px;
  left: 22px;

  @media (min-width: @tablet-width) {
    width: 200px;
    height: 200px;
    left: 446px;
    top: 92px;
  }

  @media (min-width: @desktop-width) {
    width: 100px;
    height: 100px;
    left: 52px;
    top: 47px;
  }
}

.product__item:first-child::after {
  content: "";
  position: absolute;
  width: 36px;
  height: 50px;
  background-image: url("../img/icon-cat-slim.svg");
  background-repeat: no-repeat;
  top: 21px;
  left: 29px;

  @media (min-width: @tablet-width) {
    width: 140px;
    height: 192px;
    left: 478px;
    top: 81px;
  }

  @media (min-width: @desktop-width) {
    width: 70px;
    height: 97px;
    left: 67px;
    top: 41px;
  }
}

.product__item:last-child::after {
  content: "";
  position: absolute;
  width: 67px;
  height: 50px;
  background-image: url("../img/icon-cat-pro.svg");
  background-repeat: no-repeat;
  top: 35px;
  left: 13px;

  @media (min-width: @tablet-width) {
    width: 268px;
    height: 112px;
    left: 411px;
    top: 135px;
  }

  @media (min-width: @desktop-width) {
    width: 134px;
    height: 56px;
    left: 33px;
    top: 67px;
  }
}

.product__item-title {
  font-family: "Oswald", sans-serif;
  line-height: 37px;
  font-size: 24px;
  font-weight: 400;
  /*.main-text(24px; 37px);*/
  text-transform: uppercase;
  margin: 30px 34px 29px 91px;

  @media (min-width: @tablet-width) {
    margin: 76px 279px 26px 53px;
    .main-text(36px; 36px);
  }

  @media (min-width: @desktop-width) {
    margin: 77px 53px 73px 214px;
  }
}

.product__item-text {
  font-family: "Arial", sans-serif;
  .main-text(14px; 18px);
  color: var(--basic-dark-grey);
  padding-bottom: 21px;
  margin: 0 20px;
  border-bottom: 1px solid var(--basic-border-gainsboro);

  @media (min-width: @tablet-width) {
    margin: 0 auto 10px 52px;
    width: 377px;
    .main-text(16px; 24px);
    border: none;
  }

  @media (min-width: @desktop-width) {
    margin: 0 51px 6px 52px;
    width: 467px;
    border: none;
  }

  &--width {
    @media (min-width: @tablet-width) {
      width: 342px;
    }

    @media (min-width: @desktop-width) {
      width: 457px;
    }
  }
}

.product__item-link {
  position: relative;
  .main-text(16px; 16px);
  display: block;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--basic-black);
  margin-left: 20px;
  margin-right: 100px;
  padding-top: 19px;
  padding-bottom: 22px;

  @media (min-width: @tablet-width) {
    border: none;
    margin: 0 480px 35px 52px;
    .main-text(20px; 30px);
  }

  @media (min-width: @desktop-width) {
    border: none;
    padding-top: 0;
    margin: 0 300px 0 52px;
  }
}

.product__item-link::before {
  content: "";
  position: absolute;
  background-image: url("../img/icon-right-arrow-long.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 12px;
  bottom: 41%;
  left: 100px;

  @media (min-width: @tablet-width) {
    left: 133px;
    top: 28px;
  }

  @media (min-width: @desktop-width) {
    left: 133px;
    top: 10px;
  }
}

.product__item-link:hover::before {
  content: "";
  position: absolute;
  background-image: url("../img/icon-right-arrow-verylong.svg");
  background-repeat: no-repeat;
  width: 32px;
  height: 10px;
  bottom: 42%;
  left: 189px;
}

.product__item-link:focus {
  opacity: 0.3;
}
