// Начните писать стили здесь
.promo {
  background-color: var(--basic-body);
  background-image: url("../../img/index-background-mobile@1x.jpg");
  width: 320px;
  height: 305px;
  border: 1px solid purple;
  margin-bottom: 22px;
}

.promo__title {
  .main-text("Oswald"; 30px; 36px);
  color: var(--basic-font-white);
  text-align: center;
}

.promo__description {
  .main-text("Oswald"; 14px; 14px);
  text-transform: uppercase;
  color: var(--basic-font-white);
  text-align: center;
}
