// Начните писать стили здесь
.surprise{
  display: block;
  width: 280px;
  height: 289px;
  background-image: url('../../img/gift-photo-mobile@1x.jpg');
  margin-top: 39px;
  margin-top: 35px;
}
.surprise__text{
  .main-text('Arial'; 16px; 20px);
  color: var(--basic-font-white);
}
